/* header.css */

/* Header Section */
header.landing-header {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background: url('images/landing-page.webp') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 768px){
    .landing-header{width:100vw;}
}

@media (max-width: 480px){
    .landing-header{width: 100vw;}
}

.header-content h1 {
    font-size: 5vw;
    color: #fca311; /* Distinct color for header title */
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6); /* Slightly stronger shadow for a bolder look */
    font-family: 'Playfair Display', serif; 
}

.header-content p {
    font-size: 1.5vw;
    color: #fff;
}

.header-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1vw;
}

.header-buttons button:hover {
    background-color: #0056b3;
}
